<%# j'appelle ma variable d'instance answer définie dans le controller%>
<h1>Stupid Coaching</h1>
<div>
  <h2><%= @question %></h2>
  <p> -- You</p>
</div>

<div>
  <h2><%= @answer %></h1>
  <p> -- You</p>
</div>
