<form action="/answer">
  <%# input que je récupère (name) = params %>
  <input type="text" name="question" placeholder="Type your text here">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
